<!-- 最近文章 -->

<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">最新文章</h3>
  	</div>
  	<div class="panel-body">
		<% @posts.each do |post| %>
			<li> 
				<%= link_to post.title, post %> 
				<small> <%= post.created_at.to_s.split[0] %></small>
			</li>
		<% end %>
  	</div>
</div>