	<footer class="footer navbar-inverse navbar-fixed-bottom ">
	  <div class="container" align="center">
	    <p>联系:
	    	<a href="mailto: jackerloong@gmail.com">jackerloong@gmail.com</a>
	    </p>
	  </div>
	</footer>